<%- include partials/head.ejs %>
		<!-- Main login form -->
		<main>
			<section class="modal-box">
				<h2 class="title">Log In</h2>
				<form method="post" id="login-form">
                    <p id="err" class="error"></p>
					<input type="text" name="email" id="email" required pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}" placeholder="Email Address..."/>
                    
					<input type="password" name="pass" id="pass" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,15}" placeholder="Password..."/>
                    
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
					<button type="submit" form="login-form" value="Log In">Log In</button>
                    <button id="reset-pass" value="Reset Password">Reset Password</button>
				</form>
                <% for (let o in oauth) { %>
                    <a href="/<%= oauth[o].URL %>"><button>Log In with <%= o %></button></a>
                <% } %>
			</section>
		</main>
<%- include partials/footer.ejs %>