<%- include partials/head.ejs %>
        <main>
            <section class="sidebar flexbox flexbox-column">
                
                <section class="profile-pic">
                    <img id="pic" alt="avatar" src="<%= (profile.img ? profile.img : "/assets/images/avatar.png")%>" />
                </section>
				<section class="profile-menu">
                    <% if (profile.info) { %>
                        <button id='general'>General Info</button>
                        <button id='posts'>Posts</button>
                        <button id='wiki'>Wiki Posts</button>
                        
                        <% if (user != null && user.id == profile.id) { %>
                            <button id='messages'>My Messages</button>
                            <button id='images'>My Images</button>
                            <button id='create-listing'>Create Listing</button>
                        <% } else { %>
                            <button id="follow">Follow</button>
                            <button id="message">Message</button>
                        <% } %>
                    <% } %>
                    <% if (user != null && (user.is_admin || user.id == profile.id)) { %>
                        <button id='settings'>Update Account Info</button>
                    <% } %>
                    <% if (user != null && user.is_admin && !profile.is_admin) { %>
                        <button id='ban'>Ban User</button>
                    <% } %>
                </section>
            </section>

            <!--Placeholder for profile content-->
            <section class="profile-content" id="profile-content"></section>
            
        </main>
            
        <script type='text/javascript'>
          var myuser = <%-JSON.stringify(user)%>
          var user = <%-JSON.stringify(profile)%>
          var csrf = <%= csrfToken %>
        </script>        
<%- include partials/footer.ejs %>